## Ensemble Technique on credit dataset

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [7]:
from sklearn.tree import DecisionTreeClassifier

In [8]:
credits_df = pd.read_csv("credit.csv")

In [9]:
credits_df.head()

,checking_balance,months_loan_duration,credit_history,purpose,amount,savings_balance,employment_duration,percent_of_income,years_at_residence,age,other_credit,housing,existing_loans_count,job,dependents,phone,default
0,< 0 DM,6,critical,furniture/appliances,1169,unknown,> 7 years,4,4,67,none,own,2,skilled,1,yes,no
1,1 - 200 DM,48,good,furniture/appliances,5951,< 100 DM,1 - 4 years,2,2,22,none,own,1,skilled,1,no,yes
2,unknown,12,critical,education,2096,< 100 DM,4 - 7 years,2,3,49,none,own,1,unskilled,2,no,no
3,< 0 DM,42,good,furniture/appliances,7882,< 100 DM,4 - 7 years,2,4,45,none,other,1,skilled,2,no,no
4,< 0 DM,24,poor,car,4870,< 100 DM,1 - 4 years,3,4,53,none,other,2,skilled,2,no,yes

In [10]:
credits_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
checking_balance        1000 non-null object
months_loan_duration    1000 non-null int64
credit_history          1000 non-null object
purpose                 1000 non-null object
amount                  1000 non-null int64
savings_balance         1000 non-null object
employment_duration     1000 non-null object
percent_of_income       1000 non-null int64
years_at_residence      1000 non-null int64
age                     1000 non-null int64
other_credit            1000 non-null object
housing                 1000 non-null object
existing_loans_count    1000 non-null int64
job                     1000 non-null object
dependents              1000 non-null int64
phone                   1000 non-null object
default                 1000 non-null object
dtypes: int64(7), object(10)
memory usage: 132.9+ KB

In [11]:
#The following code loops through each column and checks if the column type is object then converts those columns
# into categorical with each distinct value becoming a category or code.

for col in credits_df.columns:
    
    if credits_df[col].dtype == 'object':
        print (col)
        credits_df[col] = pd.Categorical(credits_df[col]).codes

checking_balance
credit_history
purpose
savings_balance
employment_duration
other_credit
housing
job
phone
default

In [12]:
x = credits_df.iloc[:,:-1]
y = credits_df.iloc[:,-1]

In [13]:
credits_df.shape

(1000, 17)

In [14]:
##Split the dataset

# Splitting the dataset into the Training set and Test set

from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 300, random_state = 0)

x_train.shape

(700, 16)

### Decision Tree

In [20]:
dt_classifier = DecisionTreeClassifier(criterion='entropy')

dt_classifier.fit(x_train,y_train)
DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

print (dt_classifier.score(x_test,y_test))

print (dt_classifier.score(x_train,y_train))

0.6833333333333333
1.0

### ADA Boosting

In [1]:
from sklearn.ensemble import AdaBoostClassifier

In [25]:
classifier = AdaBoostClassifier(n_estimators=50)

In [26]:
classifier.fit(x_train,y_train)

AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None,
          learning_rate=1.0, n_estimators=50, random_state=None)

In [27]:
classifier.score(x_test,y_test)

0.7666666666666667

In [28]:
classifier.score(x_train,y_train)

0.7914285714285715

### RF Classifier

In [32]:
from sklearn.ensemble import RandomForestClassifier
rfcl = RandomForestClassifier(n_estimators = 50)
rfcl = rfcl.fit(x_train, y_train)

In [33]:
test_pred = rfcl.predict(x_test)
rfcl.score(x_test , y_test)

0.7933333333333333